@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white: #fdf4ff;
    --lavender: #a21caf;
    --light-pink: #f5d0fe;
    --dark-lavender: #701a75;
    --grey: #636363;
}

/* #region Reset */

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

li {
    list-style-type: none;
}

/* #endregion */

/* #region Container Styling Macro */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;

    min-height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    grid-column: 2/3;
}

.mainContent {
    grid-column: 2/3;
}

/* #endregion */

/* #region Sidebar Styling */

.sidebar {
    padding: 1rem;

    display: grid;
    gap: 10vh;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;

    background-color: var(--lavender);
    color: var(--white);

    z-index: 2;
}

/* Link Styling */

.sidebar a {
    text-decoration: none;
    color: var(--white);
}

.sidebar a:hover,
.sidebar a:visited:hover {
    color: var(--dark-lavender);
}

.sidebar a:focus {
    color: var(--white);
}

/* Link Styling End */

#logo>a,
#navBtns>ul>li>a,
#toolBtns>ul>li>a {
    display: grid;
    grid-auto-flow: column;

    justify-content: start;
    align-items: center;
    gap: 2rem;

}

#logo>a {
    font-size: 1.5rem;

    gap: 1rem;
    padding: 0;
}

#navBtns a,
#toolBtns a {
    font-size: 1rem;
}

#navBtns>ul>li,
#toolBtns>ul>li {
    padding-bottom: 1rem;
}

#navBtns>ul>li:last-child,
#toolBtns>ul>li:last-child {
    padding: 0;
}

/* #endregion */

/* #region Header Styling */

/* Generic */

.header {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.8rem 2rem;

    padding: 0 2rem 1rem 2rem;

    box-shadow: 0 0 5px 0;

    z-index: 1;

    background-color: var(--white);
}

/* Generic End */

/* Search Bar */

.searchBarHolder {
    align-self: center;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--light-pink);
    padding: 0.5rem;

    box-shadow: inset 0.2em 0.2em 0.2em rgb(0, 0, 0, 0.3);
    /* overflow: hidden; */
}

input[type="search"] {
    padding-left: 0.5rem;
    outline: none;
    border: none;

    font-size: 1rem;
    background-color: var(--light-pink);
    border-radius: 5rem;
}

/* Search Bar End */

/* User Profile Options */

.userProfileOptions {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-items: center;
    align-self: center;
    gap: 1rem;

    justify-self: center;
}

.userPFP {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
}

#userNameDisplay>a {
    text-decoration: none;
    color: black;
    font: inherit;
    font-weight: 800;
}

/* User Profile Options End */

/* User Profile Info */

.userProfileInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
}

.userProfileInfo>.userPFP {
    height: 4rem;
    width: 4rem;
}

#welcome>p:nth-child(1) {
    font-size: 0.9rem;
    font-weight: 600;
}

#welcome>p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 600;
}

/* User Profile Info End */

/* Work Buttons */

.workBtns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center
}

.workBtns button {
    appearance: none;
    padding: 0.5rem 2rem;

    border-radius: 5rem;
    background-color: var(--dark-lavender);
    color: var(--white);
    cursor: pointer;

    outline: none;
    border: none;
}

.workBtns button:hover {
    background-color: var(--lavender);
}

.workBtns button:active {
    background-color: var(--dark-lavender);
}

/* Work Buttons End */

/* #endregion */

/* #region Main Content Styling */

.mainContent {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    padding: 2rem;

    background-color: var(--light-pink);
}

.projects {
    grid-area: 1/1/3/2;
}

.announcements {
    grid-area: 1/2/2/3;
}

.trending {
    grid-area: 2/2/3/3;
}

/* #endregion */

/* #region Projects Styling */

#contentTitle {
    font-size: 1.25rem;
    font-weight: 700;
}

#projectCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;

    padding: 2rem;
    /* margin-bottom: 2rem; */
    background-color: var(--white);

    box-shadow: inset 10px 0 var(--dark-lavender), 0 0 5px -2px;
    border-radius: 1rem;
}

#projectCard>p:first-child {
    font-size: 1.25rem;
    font-weight: 700;
}

#projectCard>p:nth-child(2) {
    color: var(--grey);
}

#projectCard>div {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    justify-content: end;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
}

#contentTitle {
    grid-column: 1/-1;
}

/* #endregion */

/* #region Announcement and Trending Styling */

#announcementCard,
#trendingCard {
    background-color: var(--white);
    padding: 1rem 0;
}

#announcementHolder,
#trendHolder {
    background-color: var(--white);
    padding: 1rem 2rem;

    box-shadow: 0 0 5px -2px;
    border-radius: 1rem;

}

#announcementCard>p:first-child,
#trendingCard>p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 700;
}

#announcementCard>p:nth-child(2),
#trendingCard>p:nth-child(3) {
    font-size: 0.8rem;
    /* font-weight: 400; */
    color: var(--grey);
}

.announcements,
.trending {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content;

    gap: 2rem;
}

.hrLine {
    height: 1px;
    background-color: var(--grey);
}

#trendingCard {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1rem;
    align-items: center;
    line-height: 1.2;
}

#trendingCard>img {
    grid-area: 1/1/3/2;
}



/* #endregion */